<!-- 公共导航 -->
<header id="header">
    <div class="w wrapper">
        <a href="https://www.realme.com/" class="logo-a">
            <img src="/static/images/LOGO.SVG" alt="realme" class="logo-img">
        </a>
        <nav class="nav">
            <ul class="nav-menu">
                <li class="false">
                    <a href="https://www.realme.com/cn/realme-q2-pro" target="_blank" class="gtag" data-gtag="header|真我Q2 Pro" title="真我Q2 Pro">
                            真我Q2 Pro
                        </a>
                </li>
                <!-- 手機 -->
                <li class="false">
                    <a rel="nofollow" class="nav-group" target="_blank">
                        手机
                    </a>
                    <div class="nav-submenu w">
                        <div class="nav-submenu-wrapper">
                            <div class="submenu-tabs">
                                <div class="secondary-menu" id="active" data-index="0">
                                    <label>Q系列  >  </label>
                                </div>

                                <div class="secondary-menu " data-index="1">
                                    <label>X系列  >  </label>
                                </div>

                                <div class="secondary-menu " data-index="2">
                                    <label>V系列  >  </label>
                                </div>
                            </div>
                            <!-- <div class="submenu-box">
                                <ul class="secondary-products" id="show">
                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/300" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20201012/1602492185395.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我Q2 Pro 5G</p>
                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="300"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/299" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20201012/1602491886723.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我Q2 5G</p>

                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="299"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/298" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20201012/1602491948598.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我Q2i 5G</p>

                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="298"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="secondary-products">
                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/283" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200831/1598877078593.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X7 Pro 5G</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="283"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/282" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200831/1598877504389.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X7 5G</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="282"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/265" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200524/1590312476919.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X50 Pro 玩家版</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="265"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/256" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200415/1586943696367.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X50 Pro 5G</p>
                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="256"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/249" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200106/1578315954738.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X50 5G</p>
                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="249"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="secondary-products">
                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/276" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200730/1596106116958.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我V5 5G</p>

                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="276"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/281" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200831/1598877874426.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我V3 5G</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="281"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                            <div class="submenu-container" id="show" data-menu="0">
                                <!-- <div class="secondary-menus">
                                    <div class="secondary-menu">
                                        <label>Q系列</label>
                                    </div>
                                </div> -->
                                <ul class="secondary-products">
                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/300" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20201012/1602492185395.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我Q2 Pro 5G</p>
                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="300"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/299" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20201012/1602491886723.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我Q2 5G</p>

                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="299"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/298" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20201012/1602491948598.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我Q2i 5G</p>

                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="298"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu-container " data-menu="1">
                                <!-- <div class="secondary-menus">
                                        <div class="secondary-menu">
                                            <label>X系列</label> <i class="icon icon-arrow-down"></i>
                                        </div>
                                </div> -->
                                <ul class="secondary-products">
                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/283" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200831/1598877078593.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X7 Pro 5G</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="283"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/282" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200831/1598877504389.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X7 5G</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="282"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/265" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200524/1590312476919.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X50 Pro 玩家版</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="265"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/256" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200415/1586943696367.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X50 Pro 5G</p>
                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="256"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/249" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200106/1578315954738.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我X50 5G</p>
                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="249"></span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu-container " data-menu="2">
                                <!-- <div class="secondary-menus">
                                        <div class="secondary-menu">
                                            <label>V系列</label> <i class="icon icon-arrow-down"></i>
                                        </div>
                                    </div> -->
                                <ul class="secondary-products">
                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/276" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200730/1596106116958.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我V5 5G</p>

                                                <p class="nav-submenu-price"> ¥ <span class="tag-product-price" data-id="276"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href=" https://buy.realme.com/cn/goods/281" target="_blank">
                                            <div class="nav-submenu-img">
                                                <label></label>
                                                <img src="https://r1.realme.net/general/20200831/1598877874426.jpg" alt="" class="nav-lazyload">
                                            </div>
                                            <div class="nav-submenu-info">
                                                <p class="nav-submenu-title">真我V3 5G</p>

                                                <p class="nav-submenu-price">¥ <span class="tag-product-price" data-id="281"></span>
                                                </p>

                                            </div>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- AIOT -->
                <li class="false">
                    <a rel="nofollow" class="nav-group" target="_blank">
                            AIOT
                        </a>
                </li>
                <!-- 所有產品 -->
                <li class="false">
                    <a href="https://www.realme.com/cn/realme-phones" target="_blank" class="gtag" data-gtag="header|所有产品" title="所有产品">所有产品</a>
                </li>
                <!-- 品牌 -->
                <li class="false">
                    <a href="https://www.realme.com/brand" target="_blank" class="gtag" data-gtag="header|品牌" title="品牌">品牌</a>
                </li>
                <!-- 服務 -->
                <li class="false">
                    <a href="https://www.realme.com/support" target="_blank" class="gtag" data-gtag="header|服务" title="服务">服务</a>
                </li>
                <!-- 社区 -->
                <li class="false">
                    <a href="https://www.realmebbs.com/" target="_blank" class="gtag" data-gtag="header|社区" title="社区">社区</a>
                </li>
                <!-- APP -->
                <li class="false">
                    <a href="https://www.realme.com/cn/app-download" target="_blank" class="gtag" data-gtag="header|APP" title="APP">APP</a>
                </li>
            </ul>
        </nav>
        <div class="nav-right">
            <a href="https://www.realme.com/cn/app-download" class="nav-user ">
                <span class="iconfont">&#xe614;</span>
            </a>
        </div>
    </div>
</header>