<!doctype html>
<html lang="zh-CN" class="lang-zh">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon " type="images/x-icon" href="https://image01.realme.net/general/20201021/1603271476178.png">
    <title>realme手机官方商城 - 真我Q2 Pro 5G，65W闪充越级 轻潮有范 -官方正品！</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/static/icon/iconfont.css">
    <script src="/lib/require.js" data-main="/js/index.js"></script>
</head>

<body>
    @include('head.html')
    <section>
        <div class="banner">
            <div class="banner-img">
                <a href="https://event.realme.com/cn/20201212" target="_blank">
                    <img src="../static/images/L01.jpg">
                </a>
                <a href="https://event.realme.com/cn/1212accessory" target="_blank">
                    <img src="../static/images/L02.jpg">
                </a>

                <a href="https://www.realme.com/cn/realme-q2-pro" target="_blank">
                    <img src="../static/images/L03.jpg">
                </a>
                <a href="https://buy.realme.com/cn/goods/299" target="_blank">
                    <img src="../static/images/L04.jpg">
                </a>
                <a href="https://buy.realme.com/cn/goods/283" target="_blank">
                    <img src="../static/images/L05.jpg">
                </a>
                <a href="https://buy.realme.com/cn/goods/276" target="_blank">
                    <img src="../static/images/L06.jpg">
                </a>
                <a href="https://buy.realme.com/cn/goods/267" target="_blank">
                    <img src="../static/images/L07.jpg">
                </a>
            </div>
        </div>
        <div class="banner-btn">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
        </div>
    </section>
    @include('footer.html')
</body>

</html>